// ------------------------------------- //
// theming for ionite collect success dialog //
// see component for ducumentation       //
// ------------------------------------- //
@use '~@angular/material' as mat;
@import "~src/styles/base/variables";

$collect-dialog-crowns-font-size: 120px;

@mixin ionite-collect-dialog-theme($theme) {
	$primary: map-get($theme, primary);
	$accent: map-get($theme, accent);
	$background: map-get($theme, background);
	$collect-dialog-color-primary: mat.get-color-from-palette($primary);
	$collect-dialog-color-accent: mat.get-color-from-palette($accent);

	.collect-dialog {
		.mat-dialog-container {
			background: $collect-dialog-color-primary;
			color: $ionite-color-white;
		}

		.crowns {
			position: absolute;
			top: 1%;
			left: 1%;
			height: 98%;
			width: 98%;
			font-family: $ionite-font-family-outstanding;
			font-size: $collect-dialog-crowns-font-size;
			font-weight: bolder;
			background: $ionite-color-white;
			color: $collect-dialog-color-accent;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}
