@use '~@angular/material' as mat;

// -------------------------------------- //
// line behind title text                 //
// preferentially used as section divider //
// -------------------------------------- //

$divider-text-spacing: 1.5%;

@mixin ionite-divider-heading-theme($theme) {
	$foreground: map-get($theme, foreground);
	$divider: map-get($foreground, divider);

	.divider-text {
		text-align: center;
		display: table;
		white-space: nowrap;
		padding: 0 $divider-text-spacing;

		&:before, &:after {
			border-top: 1px solid $divider;
			content: '';
			display: table-cell;
			position: relative;
			top: 0.7em;
			width: 45%;
		}

		&:before {
			right: $divider-text-spacing;
		}

		&:after {
			left: $divider-text-spacing;
		}
	}
}
