<div class="container gx-0">
  <div class="row gx-0">
    <div class="col-lg-4 px-3 py-5">
      <app-card cardTitle="Relative Humidity (%)">
        <ng-container cardContent>
          <app-charts-gauge [data]="humidity" [max]="100"></app-charts-gauge>
        </ng-container>
      </app-card>
    </div>
    <div class="col-lg-4 py-5">
      <app-card cardTitle="Temperature (°C)">
        <ng-container cardContent>
          <app-charts-gauge [data]="temperature" [max]="60"></app-charts-gauge>
        </ng-container>
      </app-card>
    </div>
    <div class="col-lg-4 px-3 py-5">
      <app-card cardTitle="CO2 (ppm)">
        <ng-container cardContent>
          <app-charts-gauge [data]="co2" [max]="1000"></app-charts-gauge>
        </ng-container>
      </app-card>
    </div>
  </div>
  <div class="row gx-0">
    <div class="col-lg-6 px-3 py-5">
      <app-card cardTitle="Noise (AVG)">
        <ng-container cardContent>
          <app-charts-line-chart [data]="noise" [maxY]="100"></app-charts-line-chart>
        </ng-container>
      </app-card>
    </div>
    <div class="col-lg-6 px-3 py-5">
      <app-card cardTitle="PM2,5 (µg/m³)">
        <ng-container cardContent>
          <app-charts-gauge [data]="pm2" [max]="80"></app-charts-gauge>
        </ng-container>
      </app-card>
    </div>
  </div>
  <div class="row gx-0">
    <div class="col-12 px-3 py-5">
      <app-card cardTitle="Avg. Temperature (°C)">
        <ng-container cardContent>
          <app-charts-bar-vertical [data]="avgTemp" [maxY]="60"></app-charts-bar-vertical>
        </ng-container>
      </app-card>
    </div>
  </div>
</div>
